@import '../styles/variables';

.App {
  text-align: center;
  font-family: 'Roboto';
  height: 100%;
};

body {
  align-items: center;
  background-color: $slate;
  height: 100%;
}

.btn-danger {
  border-radius: 40px !important;
  background-color: $red;
  border-color: $red;
  &:hover {
    background-color: $red-lighter;
  }
}

.btn-secondary {
  border-radius: 40px !important;
  background-color: $base02;
  border-color: $base02;
  &:hover {
    background-color: $base04;
  }
}

.btn-grey {
  border-radius: 40px !important;
  background-color: $white-darkest;
  border-color: $white-darkest;
  &:hover {
    background-color: $white-darker;
  }
}

.btn-blue {
  border-radius: 40px !important;
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: $blue-lighter;
  }
}

.btn-outline-danger {
  border-radius: 40px !important;
  border-color: $red;
  color: $red;
  &:hover {
    background-color: $red;
  }
}

.btn-outline-secondary {
  border-radius: 40px !important;
  border-color: $base02;
  color: $base02;
  &:hover {
    background-color: $base02;
  }
}