@import '../styles/variables';

.App {
  text-align: center;
  font-family: 'Roboto';
  height: 100%;
};

body {
  align-items: center;
  background-color: $slate;
  height: 100%;
}

.btn-danger {
  border-radius: 40px !important;
  background-color: $red;
  border-color: $red;
  &:hover {
    background-color: $red-lighter;
  }
}

.btn-outline-danger {
  border-radius: 40px !important;
  border-color: $red;
  color: $red;
  &:hover {
    background-color: $red;
  }
}