@import '../../../styles/variables';

.user-photo {
  border-radius: 6px;
  max-height: 200px;
  border: 2px solid $red;
}

.user-card {
  border: 4px solid $red;
  border-radius: 6px;
  padding: 60px;
  background-color: $white;
}