$blue-lightest: #adb4c3;
$blue-lighter: #5c6987;
$blue: #1f325a;
$blue-darker: #1a294a;
$blue-darkest: #090e19;

$gold-lightest: #fbedbe;
$gold-lighter: #f8dc7e;
$gold-darker: #caab40;
$gold-darkest: #443916;

$teal-lightest: #beece9;
$teal-lighter: #7edad4;
$teal-darker: #40a8a1;
$teal-darkest: #163836;

$white-lightest: #fcfffc;
$white-lighter: #f9fff9;
$white: #f7fff7;
$white-darker: #e6ebe6;
$white-darkest: #444644;

$red-lightest: #ffc9c9;
$red-lighter: #ff9393;
$red: #ff6b6b;
$red-darker: #d15858;
$red-darkest: #461e1e;

$slate: #1B2B34;
$yellow: #EC9B3B;

$slate-darker: #0f181d;
$base02: #4F5B66;
$base03: #65737E;
$base04: #A7ADBA;
$base05: #C0C5CE;
$base06: #CDD3DE;
$base07: #D8DEE9;
$base08: #EC5f67;
$orange: #F99157;
$gold: #FAC863;
$green: #99C794;
$teal: #5FB3B3;
$blue: #6699CC;
$pink: #C594C5;
$base0F: #AB7967;