@import '../../../styles/variables';

.Login {
  background-color: $white;
}

.bandImg {
  max-height: 320px;
  margin-top: 30px;
}

.input-field {
  display: flex;
  justify-content: center;
}

.input-password-email-field {
  width: 300px;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formButtons {
  display: flex;
  justify-content: center;;
  flex-direction: row;
}

.blue-button {
  background-color: $blue-darker;
  border-radius: 1px;
  &:hover {
    background-color: $blue-lighter;
  }
}