@import '../../styles/variables';

.navbar {
  background-color: $blue;
}

.logout-link {
  cursor: pointer;
}

.nav-brand {
  color: $red !important;
}

.photoIcon {
  height: 35px;
  border-radius: 50%;
}

.dd-link:hover {
  background: $red;
}

.dropdown-item.active {
  background-color: $red !important;
}

.dropdown-menu-blue {
  background-color: $blue;
  border-color: transparent;
}